<div class="my-app-dark">
  <div
    class="max-w-screen-lg px-4 sm:px-6 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto"
  >
    <div class="p-5">
      <h3 class="font-bold text-xl text-violet-600/70">Inceptia</h3>
      <p class="text-sm mt-3">
        Inceptia is a startup that provides AI-powered tools for startups.
      </p>
    </div>
    <div class="p-5">
      <div class="text-sm uppercase text-violet-600/70 font-bold">Tools</div>
      <a title="Marketing ADs" class="my-3 block cursor-pointer " routerLink="/tools/marketing"
        >Marketing ADs <span class="text-teal-600 text-xs p-1"></span></a
      ><a title="Quick Persona" class="my-3 block cursor-pointer" routerLink="/tools/quick-persona"
        >Quick Persona <span class="text-teal-600 text-xs p-1"></span></a
      ><a title="Moodboard" class="my-3 block cursor-pointer" routerLink="/tools/moodboard"
        >Moodboard <span class="text-teal-600 text-xs p-1">New</span></a
      >
    </div>
    <div class="p-5">
      <div class="text-sm uppercase text-violet-600/70 font-bold">Company</div>
      <a title="Pricing" class="my-3 block" href="/#"
        >Pricing <span class="text-teal-600 text-xs p-1"></span></a
      ><a title="Privacy Policy" class="my-3 block" href="/#"
        >Privacy Policy <span class="text-teal-600 text-xs p-1"></span></a
      ><a title="Terms & Conditions" class="my-3 block" href="/#"
        >Terms & Conditions <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>
    <div class="p-5">
      <div class="text-sm uppercase text-violet-600/70 font-bold">
        Contact us
      </div>
      <!-- <a class="my-3 block" href="/#">XXX XXXX, Floor 4 San Francisco, CA
                <span class="text-teal-600 text-xs p-1"></span></a> -->
      <a title="Contact" class="my-3 block" routerLink="/contact"
        >Contact <span class="text-teal-600 text-xs p-1"></span
      ></a>
    </div>
  </div>
</div>

<div class="pt-2">
  <div
    class="flex pb-5 px-3 m-auto pt-5 border-t text-sm flex-col max-w-screen-lg items-center"
  >
    <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
      <a title="Github" href="/#" class="w-6 mx-1 hover:text-violet-400/50">
        <i class="pi pi-github"></i>
      </a>
      <a title="Linkedin" href="/#" class="w-6 mx-1 hover:text-violet-400/50">
        <i class="pi pi-linkedin"></i>
      </a>
      <a title="Reddit" href="/#" class="w-6 mx-1 hover:text-violet-400/50">
        <i class="pi pi-reddit"></i>
      </a>
      <a title="Discord" href="/#" class="w-6 mx-1 hover:text-violet-400/50">
        <i class="pi pi-discord"></i>
      </a>
      <a title="Facebook" href="/#" class="w-6 mx-1 hover:text-violet-400/50">
        <i class="pi pi-facebook"></i>
      </a>
    </div>
    <div class="my-5">© Inceptia {{ currentYear | date: "yyyy" }}. All Rights Reserved.</div>
  </div>
</div>

<!-- <div class="">
    <div class="max-w-screen-lg px-4 sm:px-6 mx-auto text-center py-3  text-sm">
        <p>Made with <span class="text-red-500">♥</span> by Inceptia</p>
    </div> -->
